---
layout: main
title: projects
---
<div class="project">
    <h2>projects</h2>
    {% for project in site.data.legacy_projects reversed %}
        <div>
            {% if project.img %}
                <img src="{{ project.img }}" />
            {% endif %}
            <ul>
                <li>{{ project.name }}, <em>{{ project.when }}</em></li>
                <li><span>{{ project.language }}</span></li>
                {% if project.url %}
                    <li><a href="{{ project.url }}">url</a></li>
                {% endif %}
                {% if project.sourceurl %}
                    <li><a href="{{ project.sourceurl }}">source code</a></li>
                {% endif %}
                <li>{{ project.description }}</li>
                {% if project.extra_description %}
                <li>{{ project.extra_description }}</li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>
