---
---
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);

html {
    font: 16px/24px "Open Sans", Helvetica, "Helvetica Neue", Arial;
}

body {
    background: url(../img/footer_lodyas.png) center center fixed;
    color: white;
}

nav, header {
    text-shadow: 0px 1px black;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    font-size: .95em;

    background:
    linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
        );

    ul {
        list-style: none;
        padding: 5px 20px;
        li {
            display: inline;
            &:not(:first-child):before {
                content: ' | ';
            }
        }

    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: grey;
        }
    }
}

header {
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ), url(../img/fp-web.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    & > div { // container for nav & intro block
        position: relative;
        height: inherit;
    }

    & > div > div { // intro block
        position: absolute;
        top: 50px;
        z-index: 100;

        color: white;

        text-align: left;

        span {
            font-weight: 800;
            white-space: nowrap;
            color: #ffd200;
        }

        & > p {
            margin-top: -5px;
            font-size: 1.333em;
            background: #1b3d6d;
            line-height: 1.5em;
            padding-left: 75px;
            padding-right: 20px;
        }

        h1 {
            font-size: 3em;
            line-height: 1.5em;
            padding-left: 75px;
            padding-right: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            display: inline;
            margin: 0;
            font-weight: 300;
        }

        & > div { // any text boxes in intro block. delete?
            p {
                margin: 0;
            }
            overflow: auto;

            width: 50%;
            max-height: 50%;
            padding: 10px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
        }
    }
}

#content {
    width: 95%;
    max-width: 960px;
    margin: 25px auto 75px;

    h2 {
        color: #ffd200;
        margin-top: 75px;
    }

    a {
        color: #90A7BF;

        &:hover {
            color: white;
        }
    }

    p > code {
        padding: 0.3em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 3px;
    }
}

.project {
    span {
        font: 0.8em/0.8em monospace;
        padding: 0.3em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 3px;
    }
    & > div {
        overflow: auto;
        padding: 25px 0;

        &:not(:first-of-type) {
            border-top: 1px solid white;
        }

        ul {
            margin: 0;
            margin-left: 150px;
            li {
                list-style: none;
                padding: 1px 0;

                &:before {
                    content: "- ";
                }
            }
        }
        img {
            width: 125px;
            float: left;
            margin-right: 40px;
            border-radius: 100%;
        }
    }
}

.chron {
    padding: 0;
    li {
        list-style: none;
    }
}

.more {
    font-size: 1.11em;
    margin-top: 10px;
    float: right;
}

td, th {
    padding: 0 5px;
    border-right: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

td:last-child, th:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}


@media screen and (max-width: 640px) {
    html {
        //font-size: 0.8em;
    }

    header > div > div {
        width: 85%;
        top: 5%;
        left: 5%;

        & > p {
            padding-left: 10px;
            padding-right: 10px;
        }

        & > h1 {
            padding-left: 10px;
            padding-right: 10px;
        }

        span {
            white-space: normal;
        }

        & > div {
            width: 100%;
        }
    }
}

@media screen and (max-width: 2077px) {
    header {
        background-position: 80% 15%;
    }
}
