@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
html {
  font: 16px/24px "Open Sans", Helvetica, "Helvetica Neue", Arial;
}
nav,
main {
  text-shadow: 0px 1px black;
}
nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  color: white;
}
nav ul {
  list-style: none;
  padding: 20px;
}
nav ul li {
  display: inline;
}
nav ul li:not(:first-child):before {
  content: ' | ';
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: grey;
}
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fp-web.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header > div {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 25%;
  z-index: 100;
  color: white;
  text-align: left;
}
header > div span {
  font-weight: 800;
}
header > div > p {
  margin-top: 0;
  font-size: 1.333em;
}
header > div h1 {
  font-size: 3em;
  margin: 0;
  font-weight: 300;
}
header > div h1 b {
  font-weight: 600;
}
header > div > div {
  overflow: auto;
  width: 50%;
  max-height: 50%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
header > div > div p {
  margin: 0;
}
@media screen and (max-width: 384px) {
  header > div {
    width: 85%;
    top: 5%;
    left: 5%;
  }
  header > div > div {
    width: 100%;
  }
}
