@media print {
    body { margin: 0; font-size: 12px; line-height: 1; }
    a[href]:after {
        word-break: break-all;
        word-wrap: break-word;
    }

    img {
        width: 2cm;
    }

    #text {
        font-size: 2.5em;
        margin: 0;
    }

    :not(#social) + section>div {
        .display(flex);
        .flex-wrap(nowrap);
        & > div {
            margin: 0;
            width: 50%;
        }
    }

    #social {
        display: none;
    }

    .wrapper {
        padding: 0.5em 0;
    }

    #main section>div {
        & > div:last-child {
            text-align: right;
        }
    }

    #misc {
        img {
            display: none;
        }
        &>div .wip > a:before {
            color: black;
            display: inline;
            position: relative;
            font-size: 1em;
        }
        h4 a:after {
            content: "";
        }
    }

    #footer {
        a {
            visibility: hidden;
            & span, &[href]:after { visibility: visible; }
        }
    }

// HTML5 BP
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
