<!--[if i]><![endif]-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>{{ page.title }}</title>
    <meta name="author" content="Richard Li">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="/res/css/wombat.css">
    <link rel="stylesheet" href="/res/css/main.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


    <link rel="alternate" type="application/atom+xml" title="Richard Li" href="http://richardli.me/atom.xml">
    {% unless page.main %}
    <style>
        header { height: 450px; }
    </style>
    {% endunless %}
    {% seo %}
</head>
<body>

    <header>
        <div>
            <!-- <div>
                <h1><b>richard</b>li</h1>
                <br />
                <p itemscope itemtype="http://schema.org/Person">
                    Hello, my name is <span itemprop="name">Richard Li</span>. I'm a third-year <span itemprop="jobTitle">Computer Science and Engineering student</span> at <span>UC Irvine</span>.
                    <meta itemprop="affiliation" content="University of California, Irvine" />
                </p>

            </div> -->

            <div id="t" itemscope itemtype="http://schema.org/Person">
                Hello my name is
                <h1 itemprop="name">Richard Li</h1>
                <p>
                    I'm a fourth-year <span itemprop="jobTitle">Computer Science and Engineering student</span> at <span>UC Irvine</span>.
                </p>
                <meta itemprop="affiliation" content="University of California, Irvine" />
                <a href="https://github.com/CaffeinePrism"><button>github</button></a>
                <a href="https://linkedin.com/in/richardsli"><button>linkedin</button></a>
                <a href="/resume"><button>resume</button></a>
            </div>

            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/projects">projects</a></li>
                    <li><a href="&#109;ail&#116;o&#58;me&#64;richardli&#46;me">me&#64;richardli&#46;me</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div id="content">
        {{ content }}
    </div>
</body>
</html>
